.bestsellers .catalog__wrapper {
  padding-top: 53px;
  padding-bottom: 58px;
}

.catalog-more .catalog__wrapper {
  padding-top: 54px;
  padding-bottom: 59px;
}

.category .catalog__wrapper {
  padding-top: 50px;
  padding-bottom: 59px;
}

.category .catalog__list {
  justify-content: center;
  align-items: flex-start;
}

.category .catalog__item {
  margin-right: 5px;
  margin-bottom: 7px;
  flex-grow: 1;

  &:last-child {
    margin-top: -34px;
  }
}

.category .catalog__category {
  margin-top: 10px;
}

.catalog-main .catalog__item--big {
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 435px) {
  .category .catalog__item {
    &:last-child {
      margin-top: 0;
    }
  }
}

@media (min-width: 550px) {
  .catalog-main .catalog__item {
    margin-right: 50px;
  }
}

@media (min-width: $tablet-width) {
  .bestsellers .catalog__wrapper {
    padding-top: 94px;
    padding-bottom: 35px;
  }

  .category .catalog__wrapper {
    padding-top: 90px;
    padding-bottom: 50px;
  }

  .category .catalog__category {
    margin-top: 17px;
  }

  .category .catalog__list {
    justify-content: space-between;
  }

  .category .catalog__item {
    margin-right: 0;
    margin-bottom: 32px;

    &:last-child {
      margin-top: -59px;
    }
  }

  .catalog-more .catalog__wrapper {
    padding-top: 92px;
    padding-bottom: 49px;
  }

  .catalog-main .catalog__list {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 47px 30px;
  }

  .catalog-main .catalog__item {
    margin: 0;
  }

  .catalog-main .catalog__item--big {
    margin: 0;

    grid-row-start: 2;
    grid-column-start: 2;
    grid-row-end: 4;
    grid-column-end: 4;
  }
}

@media (min-width: 1062px) {
  .category .catalog__item {
    &:last-child {
      margin-top: 0;
    }
  }
}

@media (min-width: $desktop-width) {
  .bestsellers .catalog__wrapper {
    padding-top: 120px;
    padding-bottom: 64px;
  }

  .category .catalog__wrapper {
    padding-top: 118px;
    padding-bottom: 80px;
  }

  .category .catalog__item {
    &:nth-child(3) {
      order: 1;
    }

    &:last-child {
      margin-top: 0;
    }
  }

  .catalog-more .catalog__wrapper {
    padding-top: 117px;
    padding-bottom: 74px;
  }

  .catalog-more .catalog__heading {
    margin-bottom: 62px;
  }

  .catalog-main .catalog__list {
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 58px 67px;
  }

  .catalog-main .catalog__item--big {
    grid-row-start: 2;
    grid-column-start: 3;
    grid-row-end: 4;
    grid-column-end: 5;
  }
}
