.catalog-bar__items {
  margin: 0;
}

.catalog-bar__wrapper {
  padding-top: 25px;
  padding-bottom: 57px;
  text-align: center;
}

.catalog-bar__progress {
  width: 177px;
  height: 1px;
  margin: 15px auto 25px;
  background-color: $brand-color;
}

.catalog-bar__button {
  padding: 24px 50px;
}
