.collection {
  padding-top: 15px;
}

.collection__wrapper {
  padding: 0;
}

.collection__call {
  margin: 0 15px;
  text-align: center;
  padding: 39px 0;
  background-color: $background-color;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 320px;
    min-height: 226px;
    background-image: url("../img/icons/frame_big_mob.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    top: -15px;
    left: -15px;
    z-index: -1;
  }
}

.collection__name {
  @include font-m;

  color: $alt-color;
}

.collection__season {
  @include font-xl;

  font-weight: bold;
  margin: 2px 0 23px;
}

.collection__button {
  padding: 20px 35px 19px;
}

@media (min-width: $tablet-width) {
  .collection__wrapper {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;

    padding: 0 45px;
  }

  .collection__call {
    text-align: left;
    margin: 20px 20px 20px 0;
    padding: 46px 0px 0 50px;
    flex-grow: 1;

    &::before {
      width: 325px;
      min-height: 291px;
      background-size: cover;
      top: -20px;
      left: 0;
    }
  }

  .collection__season {
    margin-top: 4px;
  }

  .collection__button {
    margin: 0;
    margin-top: 38px;
  }
}

@media (min-width: $desktop-width) {
  .collection__wrapper {
    padding: 0 98px;
  }

  .collection__call {
    margin: 28px 70px 38px 0;
    padding: 70px 64px 0 70px;

    text-align: left;

    &::before {
      width: 470px;
      min-height: 370px;
      background-size: cover;
      top: -28px;
      left: 0;
    }
  }

  .collection__button {
    margin: 0;
    padding: 23px 64px;
  }

  .collection__season {
    margin-top: 12px;
    margin-bottom: 46px;
  }
}
