.features {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  border: none;
}

.features__list {
  margin-top: 20px;
}

@media (min-width: $tablet-width) {
  .features {
    margin-bottom: 25px;
  }
}
