.fieldsets {
  margin: 0;
  padding: 0;
  border: none;
  margin-bottom: 30px;
}

.fieldsets__item {
  margin: 0;
  padding: 0;
  border: none;
}

.fieldsets__content {
  padding-bottom: 25px;
}

.button-toggle {
  @include font-l;
  color: $brand-color;
  width: 100%;
  padding: 18px 0;
  position: relative;
  text-align: left;
  cursor: pointer;
}

.arrow {
  position: absolute;
  width: 16px;
  height: 10px;
  top: 50%;
  margin-top: -5px;
  right: 5px;
  background-image: url("../img/icons/arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.rotate {
  transform: rotate(180deg);
}
