.filter__btn-opened {
  @include font-m;
  display: block;
  width: 100%;
  text-align: left;
  padding: 11px 17px;
  border: 2px solid $brand-color;
  cursor: pointer;
  outline: none;
}

.filter__btn-opened .arrow {
  right: 17px;
}

.filter__form {
  position: relative;
  margin: 0;
  padding: 23px 15px 15px;

  border: 2px solid $brand-color;
  border-top: none;
}

.filter__heading {
  @include font-m;
  text-align: center;
}

.filter__fieldsets {
  display: flex;
  flex-direction: column;
  margin-bottom: 157px;
}

.filter__btn-clear,
.filter__btn-close {
  @include font-s;

  position: absolute;
  top: 25px;

  outline: none;
  cursor: pointer;
}

.filter__btn-clear {
  left: 15px;
}

.filter__btn-close {
  right: 15px;
}

@media (min-width: $tablet-width) {
  .filter__wrapper {
    position: relative;
    padding-top: 20px;
  }

  .filter__btn-opened {
    text-align: left;
    margin: 0;
    margin-left: auto;
    padding: 17px 30px 10px 15px;
    width: 206px;
  }

  .filter__btn-opened .arrow {
    right: 19px;
  }

  .filter__heading {
    display: none;
  }

  .filter__form {
    position: absolute;
    padding-top: 0;
    padding-bottom: 0;
    width: 206px;
    right: 45px;
    z-index: 1;
    background-color: $background-color;
  }

  .filter__fieldsets {
    margin-bottom: 50px;
  }

  .filter__btn-clear {
    @include font-s;
    display: block;
    position: static;
    color: $brand-color;
    background-color: $background-color;
  }

  .filter__btn-apply,
  .filter__btn-clear {
    padding: 27px 31px;
    margin-left: -15px;
    width: 202px;
    white-space: nowrap;
  }

  .filter__btn-close {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .filter__wrapper {
    padding-top: 36px;
    padding-bottom: 15px;
  }

  .filter__btn-opened {
    width: 245px;
  }

  .filter__form {
    width: 245px;
    right: 98px;
  }

  .filter__btn-apply,
  .filter__btn-clear {
    width: 241px;
  }
}
