.footer__wrapper {
  padding-top: 49px;
  padding-bottom: 47px;
  color: $body-color;
  background-color: $brand-color;
}

.footer__links {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;
}

.footer__links-name {
  color: $body-color;
}

.footer__links-item {
  width: 40%;
  margin-bottom: 23px;
}
