.info__wrapper {
  padding-top: 25px;
  padding-bottom: 24px;
  background-color: $background-color;
}

.info__image-container {
  width: 202px;
  min-height: 249px;

  margin: 0;
  margin-left: -202px * 0.5;
  padding: 0;

  position: relative;
  left: 50%;

  z-index: 1;

  &::before,
  &::after {
    content: "";
    position: absolute;

    background-image: url("../img/icons/frame_mob.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    width: 109px;
    height: 80px;

    z-index: -1;
  }

  &::before {
    top: -20px;
    left: -20px;
  }

  &::after {
    bottom: -20px;
    right: -20px;
    transform: scale(-1, 1);
  }
}

.info__slogan {
  margin: 45px 0 26px;
  text-align: center;
}

.info__social {
  display: none;
}

.info__social-link {
  color: $brand-color;
}

.info__scroll-down {
  outline: none;
  cursor: pointer;

  &:hover,
  &:focus {
    outline: 2px solid $brand-color;
    outline-offset: 2px;
  }
}

@media (min-width: $tablet-width) {
  .info__wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;

    position: relative;

    padding-top: 23px;
    padding-bottom: 37px;
  }


  .info__image-container {
    position: absolute;

    width: 264px;

    margin: 0;
    margin-left: 45px;
    padding: 0;

    right: 75px;

    &::before,
    &::after {
      width: 141px;
      height: 104px;
    }
  }

  .info__image {
    height: 319px;
  }

  .info__slogan {
    margin-top: 74px;
    margin-left: 83px;
  }

  .info__social {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    margin-top: 35px;
  }

  .info__social-list {
    display: flex;
    margin: 0;
    padding: 0;
  }

  .info__scroll-down {
    width: 10px;
    height: 27px;

    margin: 0;
    padding: 0;

    background-image: url("../img/icons/arrowhead.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  .info__social-item {
    margin-right: 21px;

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      font-weight: $font-weight-bold;
    }
  }
}

@media (min-width: $desktop-width) {
  .info__wrapper {
    position: relative;
    margin-top: -188px;
    padding: 57px 0 169px 263px;
  }

  .info__image-container {
    width: 430px;
    margin-left: -16px;

    &::before,
    &::after {
      width: 232px;
      height: 176px;
    }

    &::before {
      top: -50px;
      left: -50px;
    }

    &::after {
      bottom: -50px;
      right: -50px;
    }
  }

  .info__image {
    height: 517px;
  }

  .info__slogan {
    margin: 0;
    margin-top: 138px;

    text-align: left;
    z-index: 1;
  }

  .info__social {
    margin: 0;
    padding: 0 51px 0 97px;

    position: absolute;
    bottom: 50px;
    left: 0;
  }

  .info__social-list {
    flex-direction: column-reverse;
    margin-top: 15px;
    margin-right: 15px;
  }

  .info__social-item {
    margin-bottom: 20px;

    &:first-child {
      margin-bottom: 0;
    }
  }

  .info__scroll-down {
    margin-top: 50px;
  }
}
