.info__wrapper {
  padding: 25px 0 50px;
  background-color: $background-color;
}

.info__image-container {
  margin: 0;
  padding: 0;
  width: 202px;
  height: 249px;
  position: relative;
  left: 50%;
  margin-left: -202px * 0.5;
  z-index: 1;

  &::before,
  &::after {
    content: "";
    position: absolute;
    background-image: url("../img/icons/frame_mob.svg");

    width: 109px;
    height: 80px;

    z-index: -1;
  }

  &::before {
    top: -20px;
    left: -20px;
  }

  &::after {
    bottom: -20px;
    right: -20px;
    transform: scale(-1, 1);
  }
}

.info__slogan {
  margin: 45px 0 30px;

  text-align: center;
}
