.main-nav {
  padding-top: 30px;
  padding-bottom: 30px;
}

.main-nav__list {
  display: flex;
}

.main-nav__item {
  @include font-m;
  font-weight: 400;
  margin-right: 29px;

  &::after {
    content: "/";
    position: relative;
    color: $alt-color;
    left: 13px;
  }

  &:last-child {
    margin-right: 0;

    &::after {
      content: "";
    }
  }

  &--name {
    color: $alt-color;
  }
}

.main-nav__link--name {
  color: $alt-color;
}

.main-nav__link--category {
  color: $brand-color;
}
