.product__wrapper {
  padding: 0;
  padding-top: 20px;
}

.product__slider {
  padding-bottom: 20px;
}

.product__spec {
  padding: 34px 15px 39px;
  background-color: $background-color;
}

.product__name {
  @include font-xl;

  margin-bottom: 21px;
  font-weight: $font-weight-bold;
}

.product__desc {
  @include font-s;

  margin-bottom: 28px;
}

.product__price {
  @include font-m;
  font-weight: $font-weight-bold;

  margin-bottom: 25px;
}

.product__button {
  margin: 0;
  padding: 23px 58px;
}

@media (min-width: $tablet-width) {
  .product__wrapper {
    padding: 36px 0 0;
    padding-top: 36px;
    display: flex;
    justify-content: space-between;
  }

  .product__spec {
    width: 50%;
    padding: 46px 33px 0 65px;
  }

  .product__name {
    margin-bottom: 30px;

    font-size: 28px;
    line-height: 33px;
  }

  .product__slider {
    width: 50%;
    padding: 0;
  }

  // .product__price {
  //   margin-bottom: 25px;
  // }
}

@media (min-width: $desktop-width) {
  .product__wrapper {
    padding-top: 55px;
  }

  .product__slider {
    display: flex;
  }

  .product__spec {
    width: 45%;
    padding: 61px 190px 20px 85px;
  }

  .product__name {
    font-size: 32px;
    line-height: 38px;
  }

  .product__desc {
    @include font-l;

    margin-bottom: 40px;
  }

  .product__price {
    margin-bottom: 50px;
  }
}
