.settings {
  display: flex;
  justify-content: space-between;
  padding: 25px 0;
}

.settings__btn {
  @include font-s;

  cursor: pointer;
}

@media (min-width: $tablet-width) {
  .settings {
    display: none;
  }
}
