.slider__wrapper {
  text-align: center;
  padding-top: 25px;
  padding-bottom: 40px;

  position: relative;

  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 16px;
    height: 10px;
    top: 50%;
    background-image: url("../img/icons/arrow.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    cursor: pointer;
  }

  &::before {
    left: 15px;
    transform: rotate(90deg);
  }

  &::after {
    right: 15px;
    transform: rotate(-90deg);
  }
}
