$main-font: "Work Sans", "Roboto Mono", sans-serif;
$alt-font: "Roboto Mono", sans-serif;

$brand-color: #151C22;
$alt-color: #727A82;
$body-color: #ffffff;
$background-color: #F1F2F4;

$cloth-color-1: #B0C3C7;
$cloth-color-2: #3B6392;
$cloth-color-3: #BFC3C8;
$cloth-color-4: #2D2E2E;
$cloth-color-5: #ECECEC;
$cloth-color-6: #4193DA;

$font-style: 400;
$font-weight: 500;

$font-size-l: 16px;
$line-height-l: 19px;

$font-size-m: 18px;
$line-height-m: 21px;

$font-size-xl: 26px;
$line-height-xl: 30px;

$font-size-xxl: 86px;
$line-height-xxl: 126px;

$mobile-width: 320px;
$mobile-padding: 15px;

// $tablet-width: 768px;
// $tablet-padding: 30px;

// $desktop-width: 1300px;
// $desktop-padding: 40px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
